html{
  margin: 0;
  font-family: 'Arvo', serif;
  font-size: 16px;
  width:auto;
  background:gray;
}
body{
	font-family: 'Arvo',serif;
	font-size: 16px;
        opacity: 50%;
        background:gray;
}
.container{
    max-width: auto;
    width: 100%;
    min-height: 800px;
    height:auto;
    overflow: hidden;
    margin: 0 auto;
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;

}
.main{
        display: block;
        margin:0 auto;
	width:85%;
	float:none;
	height:auto;
    padding-top:50px;
    position:relative;

}

h1{
	font-size: 33px;
	text-align: center;
	margin-bottom: 45px;

}
.works{
    margin-left: 3em;
    float: left;
}

.btn{
  margin-left: auto;
  margin-right: auto;
	text-align: center;
	width:auto;
}
#c {
	background-image: url("./tree.jpg");
}
#b {
	background-image: url("./autumn_stock_1_by_dezzan_stock.jpg");
}
#a {
	background-image:url("./natural-scenes.jpg");
}
#z{
  background-image:url("good_morning-wide.jpg");
}
.text{
	margin:5% auto;
	width:45%;
	background-color: rgba(260, 260, 260,.8);
        min-height: 400px;


}
